[program:{{ project_slug }}-python]
directory = {{ backend_path }} ;
{% if custom_backend_command is defined %}
command = {{ custom_backend_command }} ;
{% else %}
command = {{ venv.path }}/bin/gunicorn {{ django_project_name }}.wsgi --name "{{ project_slug }}" --timeout {{ requests_timeout }} --workers={{ backend_workers }} --bind=localhost:{{ backend_application_port }} --user="{{ main_user }}"
{% endif %}
user = {{ main_user }} ; User to run as
stdout_logfile = {{ var_log_path }}/python_supervisor.log        ; Where to write log messages
redirect_stderr = true                                                ; Save stderr in the same log
environment=LANG="en_US.UTF-8",LC_ALL="en_US.UTF-8",PYTHONIOENCODING="utf8",CONFIG_PATH="{{ backend_settings_path }}"
